In [1]:
1a

x = 16 - (2 * 5) // 3 + 1
x = 16 - 10 // 3 + 1
total = 16 - 3 + 1
y = 2 ** 3 * 3
total = 8 * 3
print(x)
print(y)

14
24

In [ ]:
1b

x = (forced parenthesis on multiplication- division- subtraction- addition)
y = exponent - multiplication

In [2]:
#Add parenthesis to the expression 6 * 1 - 2 to change the resulting value from 4 to -6.

a = 6 * 1 - 2
total = 6 -2 
b = 6 * (-1)
print(a)
print(b)

4
-6

In [3]:
#Area of a circle = (Pi)r**2 
A = 3.14
r = 7**2
Area_circle = A * (7**2)
total = A * 49
print(total)

153.86

In [1]:
## 4. 
#Write an expression check if a number 3, stored in a variable x, is between 0 and 5.

x = 3
is_between = "0 and 5"
print([x] in ["in_between"])

False

In [18]:
## 5. 

#Variables x and y refer to Boolean values.

x = 9 
y = 12
number = x > 8 and x < y
print(number)

number = x == 9 or 10 > y
print(number)

number = not (x < y)
print(number)

True
True
False

In [20]:
## 6.
#Create a list that contains floats and integers, and write a code to sum all the items in the list.

list_f = 13.22
list_i = 12
total = list_f + list_i
print(total)

25.22

In [39]:
## 7.
#list1 = [3, 5, 1, 3, 9, 5, 7] 

#Write a code to sort this list in increasing order.

list1 = [3, 5, 1, 3, 9, 5, 7]
list1.sort()
print("number in ascending order:", list1)

number in ascending order: [1, 3, 3, 5, 5, 7, 9]

In [ ]:
## 8.

list2 = [1, 2, 5, 7, 9, 0, 3, 6, 7, 1, 3, 5, 6, 8, ,2, 9, 0, 5, 2, 1, 2, 4, 2]

Write a code to count how many times 2 occured in the list

In [ ]:
## 9.
list3 = ["Tosin", 10.4, 9, (23, "Faith", [10, ["Chinelo", "Sandra"], 22]), 100, 85.5, 12.4, "Promise", ("11", 90)]

Using string formatting, write a code that slices out "Chinelo", "Faith", slices out the number 100, 85.5, and 90.

Your code should print out: Chinelo couldn't score 100%, she got 90%, However, Faith is a close second with 85.5%.

NB: Make sure your output contains % sign

In [157]:
## 9.
#list3 = ["Tosin", 10.4, 9, (23, "Faith", [10, ["Chinelo", "Sandra"], 22)], 100, 85.5, 12.4, "Promise", ("11", 90)]

#Using string formatting, write a code that slices out "Chinelo", "Faith", slices out the number 100, 85.5, and 90.

#Your code should print out: Chinelo couldn't score 100%, she got 90%, However, Faith is a close second with 85.5%.

#NB: Make sure your output contains % sign


list3 = ["Tosin", 10.4, 9, (23, "Faith", [10, ["Chinelo", "Sandra"], 22)], 100, 85.5, 12.4, "Promise", ("11", 90)]
a_list = "{}, couldn't score {}%, she got {}%, However, {} is a close second with {}%."
print(a_list.format([2][9][3][13][2][4][2][10]))

SyntaxError: closing parenthesis ')' does not match opening parenthesis '[' (<ipython-input-157-3252ac9d7255>, line 11)

In [75]:
list3 = ["Tosin", 10.4, 9, (23, "Faith", [10, ["Chinelo", "Sandra"], 22)], 100, 85.5, 12.4, "Promise", ("11", 90)]
class_score = (list3[0])

SyntaxError: closing parenthesis ')' does not match opening parenthesis '[' (<ipython-input-75-ba519cb29157>, line 1)

In [23]:
## 13.
#sets = {3, 1, 10, 4, 5, 6}

#Write a code that sorts this set in asceding order. Print the output, explain the out you got and why

#This variable is a set -{}, which makes it immutable. I switched to a set by changing the {} to [] to make it mutable

sets = [3, 1, 10, 4, 5, 6]
sets.sort()
print(sets)

[1, 3, 4, 5, 6, 10]

In [82]:
## 10.

#list4 = ["Chima", "Ebuka", "Rose", "Hassan", "Bisi"]

#Write a code that removes any of these names and replaces it with your name in that particular index

list4 = ["Chima", "Ebuka", "Rose", "Hassan", "Bisi"]
list4[2] = "Promise"
print(list4)

['Chima', 'Ebuka', 'Promise', 'Hassan', 'Bisi']

In [1]:
## 11. 

#list4 = ["Chima", "Ebuka", "Rose", "Hassan", "Bisi"]

#Write a code that prints out the index positon of the name "Rose"

list4 = ("Chima", "Ebuka", "Rose", "Hassan", "Bisi")
list4 = [2]
print(list4)

[2]

In [83]:
## 14.

#- set1 = {10, 20, 30, 40, 50}
#- set2 = {30, 40, 50, 60, 70}

#Write a code prints out a new set with all items from both sets by removing duplicates

set1 = [10, 20, 30, 40, 50]
set2 = [30, 40, 50, 60, 70]
set1.extend(set2)
print(set1)

[10, 20, 30, 40, 50, 30, 40, 50, 60, 70]

In [130]:
## 15.

#- Create a string that is a long series of words separated by spaces. 
#It can be names, cities, animals, anything. Just make it up yourself.
#- Turn the string into a list of words using split. 
#- Delete two words from the list, but delete each one using a different kind of Python method. 
#- Sort the list. 
#- Add two new words to the list using two different kinds of Python operation used in adding items to a list. 
#- Turn the list of words back into a single string using join. 
#- Print the string.

string1 = "This python class is very tricky. There is a joy that comes with getting the right answers."
x = string1.split()
print(x)

['This', 'python', 'class', 'is', 'very', 'tricky.', 'There', 'is', 'a', 'joy', 'that', 'comes', 'with', 'getting', 'the', 'right', 'answers.']

In [139]:
#remove(): A list method to remove an item with using letters

list_a = ['This', 'python', 'class', 'is', 'very', 'tricky.', 'There', 'is', 'a', 'joy', 'that', 'comes', 'with', 'answer'] 

list_a.remove('very')
print(list_a)

['This', 'python', 'class', 'is', 'tricky.', 'There', 'is', 'a', 'joy', 'that', 'comes', 'with', 'answer']

In [142]:
#pop(): A list method to remove an item with with numbers

list_a = ['This', 'python', 'class', 'is', 'very', 'tricky.', 'There', 'is', 'a', 'joy', 'that', 'comes', 'with', 'answer']
list_a.pop(2)
print(list_a)

['This', 'python', 'is', 'very', 'tricky.', 'There', 'is', 'a', 'joy', 'that', 'comes', 'with', 'answer']

In [ ]:
list_a = ['This', 'python', 'is', 'very', 'tricky.', 'There', 'is', 'a', 'joy', 'that', 'comes', 'with', 'answer']
list_a

In [143]:
list_a.sort()
print(list_a)

['There', 'This', 'a', 'answer', 'comes', 'is', 'is', 'joy', 'python', 'that', 'tricky.', 'very', 'with']

In [146]:
#insert(To add): is a list method that positional - dependent on position, and also flexible.It requires only two arguments -
                 #the position, and new item. 
         
list_a.insert(-5, "excitement")
list_a

['There',
 'This',
 'a',
 'answer',
 'comes',
 'is',
 'is',
 'joy',
 'excitment',
 'excitement',
 'python',
 'that',
 'tricky.',
 'very',
 'with']

In [147]:
#apppend(To add): ls a list method that adds new item(s) specific at the end of the list. it is not flexible. 
                  #only one argument is permitted or allowed.
                
list_a.append('triumph')
list_a

['There',
 'This',
 'a',
 'answer',
 'comes',
 'is',
 'is',
 'joy',
 'excitment',
 'excitement',
 'python',
 'that',
 'tricky.',
 'very',
 'with',
 'triumph']

In [148]:
x = "#".join(list_a)
print(x)

There#This#a#answer#comes#is#is#joy#excitment#excitement#python#that#tricky.#very#with#triumph